.u-container {
    max-width: 980px;
    margin: 0 auto;
}

.u-flexRow {
    display: flex;
}

.u-flexWrap {
    flex-wrap: wrap;
}

.u-justifyCtr {
    justify-content: center;
}

.u-justifyArd {
    justify-content: space-around;
}

.u-alignCtr {
    align-items: center;
}